<div id="hero-container">
  <img id="logo" alt="logo" src="assets/images/logo.png" />
  <h1 id="hero-title">Dispersion Systems</h1>
  <div id="hero-desc-container">
    <span id="hero-desc" class="mat-body-2">{{ "home.hero" | translate }}</span>
  </div>
</div>
<div id="feature-container">
  <h1 id="feature-title">{{ "home.features" | translate }}</h1>
  <mat-divider></mat-divider>
  <mat-grid-list cols="7" rowHeight="1:1" style="margin-bottom: 2rem">
    <mat-grid-tile colspan="3" rowspan="2">
      <h1 id="main-feature">{{ "home.simulatorTitle" | translate }}</h1>
      <span class="feature-description" style="margin-bottom: 1rem">{{
        "home.simulatorDescription" | translate
      }}</span>
      <button mat-raised-button color="accent" [routerLink]="['/simulator']">
        {{ "header.simulator" | translate }}
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <button
        mat-fab
        color="accent"
        class="feature-button"
        [routerLink]="['/tester']"
      >
        <mat-icon>bug_report</mat-icon>
      </button>
      <h1 class="feature-title">{{ "header.tester" | translate }}</h1>
      <span class="feature-description">{{
        "home.testerDescription" | translate
      }}</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <button
        mat-fab
        color="accent"
        class="feature-button"
        [routerLink]="['/results']"
      >
        <mat-icon>analytics</mat-icon>
      </button>
      <h1 class="feature-title">{{ "header.results" | translate }}</h1>
      <span class="feature-description">{{
        "home.resultsDescription" | translate
      }}</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <button
        mat-fab
        color="accent"
        class="feature-button"
        [routerLink]="['/map-simulator']"
      >
        <mat-icon>location_on</mat-icon>
      </button>
      <h1 class="feature-title">{{ "header.mapSimulator" | translate }}</h1>
      <span class="feature-description"
        >{{ "home.mapDescription" | translate }}
        <a
          class="feature-desc-link"
          href="https://www.openstreetmap.org/"
          target="_blank"
          >Open Street Map</a
        >.</span
      >
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <button
        mat-fab
        color="accent"
        class="feature-button"
        [routerLink]="['/changelog']"
      >
        <mat-icon>history</mat-icon>
      </button>
      <h1 class="feature-title">{{ "header.changelog" | translate }}</h1>
      <span class="feature-description">{{
        "home.changelogDescription" | translate
      }}</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
