img#logo {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
  border-radius: 50%;
  transition: box-shadow 0.3s, transform 0.5s ease-in-out;
}

img#logo:hover {
  transform: rotate(180deg);
  box-shadow: 0 0 15px #ff9800;
}

.try-out-link {
  width: fit-content;
  margin-top: 0.5rem;
  color: #7c4dff;
}

.try-out-link:hover {
  filter: brightness(80%);
}
