<div class="px-4 py-2 my-2 text-center">
  <img id="logo" alt="logo" src="assets/images/logo.png" />
  <h1 class="fw-bold" style="font-size: 3rem; line-height: 3rem">
    Dispersion Systems
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 mt-4" style="line-height: 1.75rem">
      {{ "home.hero" | translate }}
    </p>
  </div>
</div>
<div class="container px-4 py-5">
  <h2 class="mb-2" style="font-size: 2rem">
    {{ "home.features" | translate }}
  </h2>
  <mat-divider></mat-divider>
  <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <button
        [routerLink]="['/simulator']"
        class="me-3"
        style="margin-top: -15px"
        mat-fab
        color="accent"
      >
        <mat-icon>hub</mat-icon>
      </button>
      <div class="h-100 d-flex flex-column">
        <h3 class="fs-2">{{ "header.simulator" | translate }}</h3>
        <p class="my-2" style="font-size: 1rem; font-weight: 300; flex-grow: 1">
          {{ "home.simulatorDescription" | translate }}
        </p>
        <a
          class="d-inline-flex align-items-center try-out-link"
          [routerLink]="['/simulator']"
          ><span>{{ "home.tryOut" | translate }}</span>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <button
        [routerLink]="['/tester']"
        class="me-3"
        style="margin-top: -15px"
        mat-fab
        color="accent"
      >
        <mat-icon>science</mat-icon>
      </button>
      <div class="h-100 d-flex flex-column">
        <h3 class="fs-2">{{ "header.tester" | translate }}</h3>
        <p class="my-2" style="font-size: 1rem; font-weight: 300; flex-grow: 1">
          {{ "home.testerDescription" | translate }}
        </p>
        <a
          class="d-inline-flex align-items-center try-out-link"
          [routerLink]="['/tester']"
          ><span>{{ "home.tryOut" | translate }}</span>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <button
        [routerLink]="['/results']"
        class="me-3"
        style="margin-top: -15px"
        mat-fab
        color="accent"
      >
        <mat-icon>analytics</mat-icon>
      </button>
      <div class="h-100 d-flex flex-column">
        <h3 class="fs-2">{{ "header.results" | translate }}</h3>
        <p class="my-2" style="font-size: 1rem; font-weight: 300; flex-grow: 1">
          {{ "home.resultsDescription" | translate }}
        </p>
        <a
          class="d-inline-flex align-items-center try-out-link"
          [routerLink]="['/results']"
          ><span>{{ "home.tryOut" | translate }}</span>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
