<!-- Header -->
<header id="app-header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="/minions/home">
    <img src="assets/img/minion-logo.png" alt="Main logo" width="50" height="50">
    Minions
  </a>

  <button class="navbar-toggler me-4 d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="w-100">
    <!-- Search bar -->
    <input class="form-control form-control-dark w-50 d-inline-block" style="margin-left: 25%;" type="text" placeholder="Search" aria-label="Search">

    <!-- Right site content -->
    <div class="navbar-nav float-end me-3">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" routerLink="/404">Sign in</a>
      </div>
    </div>
  </div>

</header>

<div id="content-container" class="container-fluid">
  <div class="row h-100">
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background-color: #F5F5F5;">
      <div class="position-sticky pt-4">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-2 text-muted">
          <span>Minions</span>
        </h6>
        <hr>

        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a routerLink="/minions/home" class="nav-link text-black sidebar-link">
              <i class="bi bi-house-door"></i>
              Home
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 text-muted">
          <span>Playgrounds</span>
        </h6>
        <hr>

        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a routerLink="/playgrounds/static" class="nav-link text-black sidebar-link">
              <i class="bi bi-diagram-3"></i>
              Static
            </a>
          </li>
          <li>
            <a routerLink="/404" class="nav-link text-black sidebar-link">
              <i class="bi bi-diagram-3-fill"></i>
              Dynamic
            </a>
          </li>
          <li>
            <a routerLink="/404" class="nav-link text-black sidebar-link">
              <i class="bi bi-bezier"></i>
              Custom
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-2 text-muted">
          <span>Category</span>
        </h6>
        <hr>

        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a routerLink="/category/easter-egg" class="nav-link text-black sidebar-link">
              <i class="bi bi-egg"></i>
              Easter Egg
            </a>
          </li>
          <li>
            <a routerLink="/404" class="nav-link text-black sidebar-link">
              <i class="bi bi-link-45deg"></i>
              Link 2
            </a>
          </li>
          <li>
            <a routerLink="/404" class="nav-link text-black sidebar-link">
              <i class="bi bi-link-45deg"></i>
              Link 3
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="overflow-y: auto;">
      <router-outlet></router-outlet>
      <!-- Footer -->
      <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2021 Minions Company, Inc</p>

          <a routerLink="/minions/home" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="assets/img/minion-logo.png" width="32" height="32"/>
          </a>

          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a routerLink="/minions/home" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a routerLink="/404" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a routerLink="/404" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a routerLink="/404" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a routerLink="/404" class="nav-link px-2 text-muted">About</a></li>
          </ul>
        </footer>
      </div>
    </main>

  </div>
</div>
