mat-card {
    text-align: center;
    font-size: larger;
}

#map {
    height: 600px;
}

mat-chip {
    background-color: #4CAF50 !important;
    color: white !important;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-suffix {
    top: 5px;
}

::ng-deep .mat-raised-button {
    background-color: #4CAF50 !important;
    color: white !important;
}

.disabled {
    background-color: #4CAF50 !important;
    opacity: 50%;
}

.simulation-operators {
    margin-right: 20px;
    background-color: white;
}

mat-icon#speed-icon {
    margin-left: 20px;
    margin-right: 10px;
}

.server-response-time {
    margin-right: 20px;
}