<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
<div id="map" class="shadow"></div>
<mat-form-field class="location-input mt-4 mb-4" appearance="outline">
    <mat-label>{{ 'openStreetMapComponent_selectedLocations' | translate }}</mat-label>
    <mat-chip-list #locationList>
        <mat-chip *ngFor="let location of locations" (removed)="removeLocation(location)">
          {{location.location}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="{{ 'openStreetMapComponent_newLocation' | translate }}"
             [matChipInputFor]="locationList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addLocation($event)">
    </mat-chip-list>
</mat-form-field>