<h5 mat-dialog-title>{{ "logFormComponent_title" | translate }}</h5>
<mat-dialog-content>
  <ul class="list-group">
    <li class="list-group-item">
      {{ "simulationComponent_informationPanelAlgorithm" | translate }}:
      {{ data.algorithmType | translate }}
    </li>
    <li class="list-group-item">
      {{ "simulationComponent_informationPanelGraph" | translate }}:
      {{ data.graphType | translate }}
    </li>
    <li class="list-group-item">
      {{ "settingsDialogComponent_nodes" | translate }}: {{ data.nodes }}
    </li>
    <li class="list-group-item">
      {{ "settingsDialogComponent_robots" | translate }}: {{ data.robots }}
    </li>
    <li class="list-group-item">
      {{ "settingsDialogComponent_colors" | translate }}: {{ data.components }}
    </li>
    <li class="list-group-item">
      {{ "simulationComponent_steps" | translate }}: {{ data.steps }}
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="save()">
    {{ "SAVE_AND_RESET" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{ reset: true }"
  >
    {{ "ONLY_RESET" | translate }}
  </button>
  <button mat-raised-button mat-dialog-close>
    {{ "CLOSE" | translate }}
  </button>
</mat-dialog-actions>
