label#graph-info {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

label#graph-info:hover {
  filter: brightness(0.75);
}

.graph-info-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.accordion-disabled {
  opacity: 0.5;
}

#preview-container {
  width: 100%;
  height: 400px;
}

#preview-actions {
  width: 100%;
  height: 25px;
  text-align: end;
  margin-top: 0.5rem;
  margin-left: -0.25rem;
}

.custom-icon {
  font-size: 20px;
  opacity: 85%;
  padding: 0;
}

.custom-icon:hover {
  font-size: 25px;
  opacity: 100%;
  padding: 0;
}

#preview-dialog {
  height: 500px;
}