.simulation-title {
  text-align: center;
  font-size: larger;
}

.simulation-operators {
  margin-right: 20px;
  background-color: white;
}

mat-card#vis-container {
  height: 500px;
}

mat-icon#speed-icon {
  margin-left: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.server-response-time {
  margin-right: 20px;
  vertical-align: middle;
}

table {
  width: 100%;
}

.robot-table {
  overflow: auto;
  max-height: 500px;
}
