<div class="container">
  <h2 class="pt-2 pb-2 mt-5 border-bottom">{{ "pages.simulator.title" | translate }}</h2>
  <div class="row mt-2 gy-4">
    <div class="col-xl-6">
      <div class="card">
        <h5 class="card-header d-flex flex-wrap justify-content-start">
          <span class="me-auto">{{ "pages.simulator.graphConfiguration" | translate}} #1</span>
          <div class="text-end">
            <i class="bi bi-x-lg text-danger"></i>
          </div>
        </h5>
        <div class="card-body">
          <form class="needs-validation" novalidate>
            <div class="my-3">
              <label for="topologySelect" class="form-label">{{ "pages.simulator.topology" | translate }}</label>
              <div class="input-group">
                <select id="topologySelect" class="form-select" required>
                  <option selected disabled value="">{{"pages.simulator.choose" | translate}}...</option>
                  <option *ngFor="let type of graphTypes" value="{{type}}">{{ "graph.type." + type | translate}}</option>
                </select>
                <label id="graph-info" class="input-group-text graph-info-disabled" for="topologySelect" data-bs-toggle="tooltip" data-bs-placement="bottom">
                  <i class="bi bi-info-circle"></i>
                </label>
                <div class="invalid-feedback">
                  {{ "pages.simulator.invalidGraphType" | translate}}
                </div>
              </div>
            </div>
            <div class="my-4">
              <label for="propertiesAccordion" class="form-label">Properties</label>
              <div class="accordion accordion-disabled" id="propertiesAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button disabled style="height: 38px;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                      Choose topology first
                    </button>
                  </h2>
                  <div id="collapseForm" class="accordion-collapse collapse" data-bs-parent="#propertiesAccordion">
                    <div class="accordion-body">
                      <div *ngIf="topology === graphTypes[0]">Forest</div>
                      <div *ngIf="topology === graphTypes[1]">Graph</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-primary my-3" type="reset" (click)="graphReset()">Reset</button>&nbsp;
            <button class="btn btn-outline-primary my-3" type="submit">Configure</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <h5 class="card-header d-flex flex-wrap justify-content-start">
          <span class="me-auto">{{ "pages.simulator.algorithmConfiguration" | translate}} #2</span>
          <div class="text-end">
            <i class="bi bi-x-lg text-danger"></i>
          </div>
        </h5>
        <div class="card-body">
          Text...
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-xl-6">
      <div class="card text-center">
        <div class="card-img-top" style="height: 400px; background: cornflowerblue;"></div>
        <div class="card-body">
          <h5 class="card-title">{{ "pages.simulator.simulationPreview" | translate}}</h5>
          <p class="card-text text-muted fw-light">{{ "pages.simulator.previewDesc" | translate}}</p>
          <button class="btn btn-outline-primary btn-lg">
            {{ "pages.simulator.launch" | translate }}
            <i class="bi bi-rocket-takeoff"></i>
          </button>
        </div>
        <div class="card-footer text-muted">
          <small>Not configured yet</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
TITLE
<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ "pages.simulator.title" | translate }}</h1>
</div>

OPERATORS SECTION

<div class="row mt-4">
  <div class="col-6">
    <button
      mat-mini-fab
      class="simulation-operators"
      (click)="playSimulator()"
      [disabled]="!graphConfiguration || !algorithmConfiguration"
    >
      <mat-icon svgIcon="play"></mat-icon>
    </button>
    <button
      mat-mini-fab
      class="simulation-operators"
      (click)="stopSimulator()"
      [disabled]="!graphConfiguration || !algorithmConfiguration"
    >
      <mat-icon svgIcon="pause"></mat-icon>
    </button>
    <button
      mat-mini-fab
      class="simulation-operators"
      (click)="stepSimulator()"
      [disabled]="!graphConfiguration || !algorithmConfiguration"
    >
      <mat-icon svgIcon="next-step"></mat-icon>
    </button>
    <mat-icon svgIcon="speed" id="speed-icon"></mat-icon>
    <mat-slider
      color="primary"
      [max]="2000"
      [min]="200"
      [step]="50"
      [thumbLabel]="true"
      [(ngModel)]="speed"
      [disabled]="!graphConfiguration || !algorithmConfiguration"
    ></mat-slider>
    <span class="server-response-time">{{ speed }} ms</span>
  </div>
  <div class="col-6 text-end">
    <span class="server-response-time"
      >{{ "simulationComponent_steps" | translate }}: {{ getSteps() }}</span
    >
    <span class="server-response-time"
      >{{ "simulationComponent_serverResponseTime" | translate }}:
      {{ RTT }} ms</span
    >
    <button
      mat-mini-fab
      class="simulation-operators"
      (click)="resetSimulator()"
      [disabled]="!graphConfiguration || !algorithmConfiguration"
    >
      <mat-icon svgIcon="reset"></mat-icon>
    </button>
    <button
      mat-mini-fab
      class="simulation-operators"
      (click)="save()"
      [disabled]="isSaveDisabled()"
    >
      <mat-icon svgIcon="save"></mat-icon>
    </button>
    <button
      mat-mini-fab
      class="simulation-operators"
      (click)="openAlgorithmConfiguration()"
      [disabled]="!graphConfiguration || !!algorithmConfiguration"
    >
      <mat-icon svgIcon="robot"></mat-icon>
    </button>
    <button
      mat-mini-fab
      class="simulation-operators"
      (click)="openGraphConfiguration()"
      [disabled]="!!graphConfiguration"
    >
      <mat-icon svgIcon="tree"></mat-icon>
    </button>
  </div>
</div>

SIMULATOR SECTION

<div class="row mt-4">
  <div class="col-12">
    <mat-card id="vis-container"></mat-card>
  </div>
</div>

INFORMATION PANEL SECTION

<div class="row mt-4">
  <div class="col-12">
    <div class="mat-elevation-z8 robot-table" *ngIf="algorithmConfiguration">
      <table mat-table [dataSource]="getRobots()">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>
            {{ "simulationComponent_tableIDColumn" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="onID">
          <th mat-header-cell *matHeaderCellDef>
            {{ "simulationComponent_tablePositionColumn" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.onID }}</td>
        </ng-container>

        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef>{{ "simulationComponent_tableLabelColumn" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.treeLabel }}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>
            {{ "simulationComponent_tableStateColumn" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              [ngStyle]="{ color: '#2EDA33' }"
              *ngIf="element.state === 'START'"
              >{{ element.state | translate }}</span
            >
            <span
              [ngStyle]="{ color: '#EB6813' }"
              *ngIf="element.state === 'EXPLORE'"
              >{{ element.state | translate }}</span
            >
            <span
              [ngStyle]="{ color: '#133BDE' }"
              *ngIf="element.state === 'LEADER'"
              >{{ element.state | translate }}</span
            >
            <span
              [ngStyle]="{ color: '#EF4019' }"
              *ngIf="element.state === 'SETTLED'"
              >{{ element.state | translate }}</span
            >
            <span
              [ngStyle]="{ color: '#050303' }"
              *ngIf="element.state === 'TERMINATED'"
              >{{ element.state | translate }}</span
            >
            <span
              [ngStyle]="{ color: '#BF40BF' }"
              *ngIf="element.state === 'CRASHED'"
              >{{ element.state | translate }}</span
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="stateIcon">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              svgIcon="robot"
              *ngIf="element.state === 'START'"
            ></mat-icon>
            <mat-icon
              svgIcon="search"
              *ngIf="element.state === 'EXPLORE'"
            ></mat-icon>
            <mat-icon
              svgIcon="star"
              *ngIf="element.state === 'LEADER'"
            ></mat-icon>
            <mat-icon
              svgIcon="check"
              *ngIf="element.state === 'SETTLED'"
            ></mat-icon>
            <mat-icon
              svgIcon="pause"
              *ngIf="element.state === 'TERMINATED'"
            ></mat-icon>
            <mat-icon
              svgIcon="crashed"
              *ngIf="element.state === 'CRASHED'"
            ></mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="crash">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="crashRobot(element)">Crash</button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="algorithmConfiguration.algorithmType == 'FAULTY_DFS_DISPERSION' ? faultyDisplayedColumns : displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: algorithmConfiguration.algorithmType == 'FAULTY_DFS_DISPERSION' ? faultyDisplayedColumns : displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
-->