.drag-box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.drag-element {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: grab;
}

.cdk-drag-preview .drag-element {
  cursor: grabbing;
  pointer-events: auto;
}
