<div id="main-container">
  <mat-toolbar id="lower-toolbar" color="{{ $color | async }}">
    <div class="row w-100 m-0">
      <div class="col-6 p-0">
        <span id="page-title">{{
          ($activePage | async)?.translateKey || "" | translate
        }}</span>
      </div>
      <div class="col-6 p-0 d-flex align-items-center justify-content-end">
        <mat-icon id="page-icon">{{ ($activePage | async)?.iconKey }}</mat-icon>
      </div>
    </div>
  </mat-toolbar>
  <div id="page-container">
    <ng-content></ng-content>
  </div>
</div>
<app-footer [pages]="pages"></app-footer>
