div#main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  #lower-toolbar {
    padding: 0 2rem;
    min-height: 80px;

    #page-title {
      font-weight: 300;
    }
    
    #page-icon {
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  
  }

  #page-container {
    margin: 2rem;
  }
}
