<div class="container">
  <!-- TITLE -->
  <mat-card class="simulation-title animate__animated animate__fadeInDown">{{ 'simulationComponent_title' | translate }}</mat-card>
  <!-- INSTRUCTION SECTION -->
  <div class="row mt-4">
    <div class="col-12">
      {{ 'simulationComponent_instructions' | translate }}:
      <ol class="mt-2">
        <li>{{ 'simulationComponent_graphConfiguration' | translate }}</li>
        <li>{{ 'simulationComponent_algorithmConfiguration' | translate }}</li>
        <li>{{ 'simulationComponent_runAlgorithm' | translate }}</li>
        <li>{{ 'simulationComponent_resetSimulation' | translate }} <mat-icon svgIcon="emoji" style="height: 20px;width: 20px;"></mat-icon></li>
      </ol>
    </div>
  </div>
  <!-- OPERATORS SECTION -->
  <div class="row mt-4">
    <div class="col-8">
      <button mat-mini-fab class="simulation-operators" [disabled]="!graphConfiguration || !algorithmConfiguration">
        <mat-icon svgIcon="play" matTooltip="{{ 'PLAY' | translate }}"></mat-icon>
      </button>
      <button mat-mini-fab class="simulation-operators" [disabled]="!graphConfiguration || !algorithmConfiguration">
        <mat-icon svgIcon="pause" matTooltip="{{ 'PAUSE' | translate }}"></mat-icon>
      </button>
      <button mat-mini-fab class="simulation-operators" (click)="stepSimulator()" [disabled]="!graphConfiguration || !algorithmConfiguration">
        <mat-icon svgIcon="next-step" matTooltip="{{ 'NEXT_STEP' | translate }}"></mat-icon>
      </button>
      <mat-icon svgIcon="speed" id="speed-icon" matTooltip="{{ 'SPEED' | translate }}"></mat-icon>
      <mat-slider [disabled]="!graphConfiguration && !algorithmConfiguration"></mat-slider>
      <span>1500 ms</span>
    </div>
    <div class="col-4 text-end">
      <button mat-mini-fab class="simulation-operators" (click)="resetSimulator()" [disabled]="!graphConfiguration || !algorithmConfiguration">
        <mat-icon svgIcon="reset" matTooltip="{{ 'RESET' | translate }}"></mat-icon>
      </button>
      <button mat-mini-fab class="simulation-operators" (click)="openAlgorithmConfiguration()" [disabled]="!graphConfiguration || !!algorithmConfiguration">
        <mat-icon svgIcon="robot" matTooltip="{{ 'simulationComponent_algorithmSettings' | translate }}"></mat-icon>
      </button>
      <button mat-mini-fab class="simulation-operators" (click)="openGraphConfiguration()" [disabled]="!!graphConfiguration">
        <mat-icon svgIcon="tree" matTooltip="{{ 'simulationComponent_simulationSettings' | translate }}"></mat-icon>
      </button>
    </div>
  </div>
  <!-- SIMULATOR SECTION -->
  <div class="row mt-4">
    <div class="col-12">
      <mat-card id="vis-container"></mat-card>
    </div>
  </div>
  <!-- INFORMATION PANEL SECTION -->
</div>
