<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 mat-dialog-title>{{ 'settingsDialogComponent_title' | translate }}</h1>
    </div>
    <div class="col-4 text-end">
      <button mat-mini-fab style="background-color: white" mat-dialog-close>
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content>
    <form [formGroup]="settingsFormGroup">

      <mat-form-field appearance="outline">
        <mat-label>{{ 'settingsDialogComponent_algorithmType' | translate }}</mat-label>
        <mat-select [formControl]="algorithmType">
          <mat-option *ngFor="let algorithmType of algorithmTypes" [value]="algorithmType.value">
            {{ algorithmType.value | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="algorithmType.hasError('required')">{{ 'settingsDialogComponent_algorithmTypeRequired' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'settingsDialogComponent_graphType' | translate }}</mat-label>
        <mat-select [formControl]="graphType">
          <mat-option *ngFor="let graphType of graphTypes" [value]="graphType.value">
            {{ graphType.value | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="graphType.hasError('required')">{{ 'settingsDialogComponent_graphTypeRequired' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'settingsDialogComponent_nodes' | translate }}</mat-label>
        <input matInput type="number" [formControl]="nodes" min="1" max="50">
        <mat-error *ngIf="nodes.hasError('required')">{{ 'settingsDialogComponent_nodesRequired' | translate }}</mat-error>
        <mat-error *ngIf="nodes.hasError('min')">{{ 'settingsDialogComponent_nodesMin' | translate }}</mat-error>
        <mat-error *ngIf="nodes.hasError('max')">{{ 'settingsDialogComponent_nodesMax' | translate }}</mat-error>
        <mat-error *ngIf="nodes.hasError('barbellConstraintError')">{{ 'settingsDialogComponent_barbellConstraintError' | translate }}</mat-error>
        <mat-error *ngIf="nodes.hasError('lollipopConstraintError')"> {{ 'settingsDialogComponent_lollipopConstraintError' | translate }}</mat-error>
        <mat-error *ngIf="nodes.hasError('hypercubeConstraintError')">{{ 'settingsDialogComponent_hypercubeConstraintError' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'settingsDialogComponent_robots' | translate }}</mat-label>
        <input matInput type="number" [formControl]="robots" min="1" max="50">
        <mat-error *ngIf="robots.hasError('required')">{{ 'settingsDialogComponent_robotsRequired' | translate }}</mat-error>
        <mat-error *ngIf="robots.hasError('min')">{{ 'settingsDialogComponent_robotsMin' | translate }}</mat-error>
        <mat-error *ngIf="robots.hasError('max')">{{ 'settingsDialogComponent_robotsMax' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'settingsDialogComponent_colors' | translate }}</mat-label>
        <input matInput type="number" [formControl]="colors" min="1" max="10">
        <mat-error *ngIf="colors.hasError('required')">{{ 'settingsDialogComponent_colorsRequired' | translate }}</mat-error>
        <mat-error *ngIf="colors.hasError('min')">{{ 'settingsDialogComponent_colorsMin' | translate }}</mat-error>
        <mat-error *ngIf="colors.hasError('max')">{{ 'settingsDialogComponent_colorsMax' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'settingsDialogComponent_startNodes' | translate }}</mat-label>
        <mat-select [formControl]="startNodes" multiple>
          <mat-option *ngFor="let number of numberOfNodes" [value]="number">{{ number }}</mat-option>
        </mat-select>
        <mat-error *ngIf="startNodes.hasError('required')">{{ 'settingsDialogComponent_startNodesRequired' | translate }}</mat-error>
      </mat-form-field>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="settingsFormGroup.invalid" (click)="save()">
      {{ 'SAVE' | translate }}
    </button>
    <button mat-raised-button mat-dialog-close>
      {{ 'CLOSE' | translate }}
    </button>
  </mat-dialog-actions>
</div>
