<div class="container">
  <mat-card class="simulation-title animate__animated animate__fadeInDown">{{ 'simulationComponent_title' | translate }}</mat-card>
  <div class="row mt-4">
    <div class="col-8">
      <button mat-mini-fab class="simulation-operators" [disabled]="!simulationConfiguration">
        <mat-icon svgIcon="play" matTooltip="{{ 'PLAY' | translate }}"></mat-icon>
      </button>
      <button mat-mini-fab class="simulation-operators" [disabled]="!simulationConfiguration">
        <mat-icon svgIcon="next-step" matTooltip="{{ 'NEXT_STEP' | translate }}"></mat-icon>
      </button>
      <button mat-mini-fab class="simulation-operators" [disabled]="!simulationConfiguration">
        <mat-icon svgIcon="pause" matTooltip="{{ 'PAUSE' | translate }}"></mat-icon>
      </button>
      <button mat-mini-fab class="simulation-operators" [disabled]="!simulationConfiguration">
        <mat-icon svgIcon="reset" matTooltip="{{ 'RESET' | translate }}"></mat-icon>
      </button>
      <mat-icon svgIcon="speed" id="speed-icon" matTooltip="{{ 'SPEED' | translate }}"></mat-icon>
      <mat-slider [disabled]="!simulationConfiguration"></mat-slider>
      <span>1500 ms</span>
    </div>
    <div class="col-4 text-end">
      <button mat-mini-fab style="background-color: white" (click)="openSettingsDialog()">
        <mat-icon svgIcon="settings" matTooltip="{{ 'simulationComponent_simulationSettings' | translate }}"></mat-icon>
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <mat-card id="vis-container"></mat-card>
    </div>
  </div>
  <div class="row mt-4">
    <h4 class="mb-4">{{ 'simulationComponent_informationPanel' | translate }}</h4>
    <div class="col-3">
      <mat-card id="information-panel">
        <h5>{{ 'simulationComponent_informationPanelState' | translate }}: <span [style]="{ color: simulationState.color }">{{ simulationState.value | translate }}</span></h5>
        <p><i style="color: grey">{{ 'simulationComponent_informationPanelModified' | translate }}: {{ simulationStateDate | date:'HH:mm:ss' }}</i></p>
        <mat-divider></mat-divider>
        <p class="mt-4">{{ 'simulationComponent_informationPanelAlgorithm' | translate }}: {{ simulationConfiguration ? (simulationConfiguration.algorithmType | translate) : '--' }}</p>
        <p>{{ 'simulationComponent_informationPanelGraph' | translate }}: {{ simulationConfiguration ? (simulationConfiguration.graphType | translate) : '--' }}</p>
        <p>{{ 'simulationComponent_informationPanelNodes' | translate }}: {{ simulationConfiguration ? simulationConfiguration.nodes : '--' }}</p>
        <p>{{ 'simulationComponent_informationPanelRobots' | translate }}: {{ simulationConfiguration ? simulationConfiguration.robots : '--' }}</p>
        <p>{{ 'simulationComponent_informationPanelColors' | translate }}: {{ simulationConfiguration ? simulationConfiguration.colors : '--' }}</p>
        <p>{{ 'simulationComponent_informationPanelStartNodes' | translate }}: {{ simulationConfiguration ? simulationConfiguration.startNodes : '--' }}</p>
      </mat-card>
    </div>
    <div class="col-9">
      <table mat-table class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> {{ 'simulationComponent_tableIDColumn' | translate }} </th>
          <td mat-cell >  </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> {{ 'simulationComponent_tableColorColumn' | translate }} </th>
          <td mat-cell >  </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> {{ 'simulationComponent_tablePositionColumn' | translate }} </th>
          <td mat-cell >  </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> {{ 'simulationComponent_tableStateColumn' | translate }} </th>
          <td mat-cell >  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
