.automated-title {
  text-align: center;
  font-size: larger;
}

.config-card {
  max-height: 400px;
}

.header-image {
  background-size: cover;
}

.tests-card {
  margin-left: 30%;
  width: 40%;
  text-align: center;
}

.test-ratio {
  text-align: center;
}

.test-progress-bar {
  margin-left: 5%;
  width: 90%;
}

.summary-table {
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
}
