<div class="container">
    <div class="row">
      <div class="col-8">
        <h1 mat-dialog-title>{{ 'locationFormComponent_title' | translate }}</h1>
      </div>
      <div class="col-4 text-end">
        <button mat-mini-fab style="background-color: white" mat-dialog-close>
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </div>
    </div>
    <mat-dialog-content>
        <section>
            <p>{{'locationFormComponent_selectLocationData' | translate}}:</p>
            <p class="custom-margin" *ngFor="let data of location | keyvalue">
                <mat-checkbox 
                    (change)="checked($event.checked, data.key, data.value)">
                    {{data.key}}: {{data.value}}
                </mat-checkbox>
            </p>
          </section>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="save()">
        {{ 'SAVE' | translate }}
      </button>
      <button mat-raised-button mat-dialog-close>
        {{ 'CLOSE' | translate }}
      </button>
    </mat-dialog-actions>
  </div>