<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ 'pages.openStreetMap.title' | translate }}</h1>
</div>
<div class="row mt-2">
  <div class="col-9 align-self-center">
    <div class="row">
      <div class="col-6 align-self-center">
        <h5>City: {{this.selectedCity ? this.selectedCity.location : '--'}}</h5>
      </div>
      <div class="col-2 align-self-center">
        <h5>Lat.: {{this.selectedCity ? this.selectedCity.lat.toFixed(2) : '--'}}</h5>
      </div>
      <div class="col-2 align-self-center">
        <h5>Lng.: {{this.selectedCity ? this.selectedCity.lng.toFixed(2) : '--'}}</h5>
      </div>
      <div class="col-2 align-self-center">
        <button mat-icon-button *ngIf="this.selectedCity" (click)="resetSelectedCity()">
          <mat-icon svgIcon="reset"></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-3">
    <mat-form-field appearance="standard" class="float-end">
      <mat-label>{{'openStreetMapComponent_searchCity' | translate}}</mat-label>
      <input matInput [formControl]="cityControl" (keyup.enter)="findCityByName()">
      <button mat-icon-button matSuffix (click)="findCityByName()">
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<div class="row mt-2 mb-4 align-items-center" *ngIf="algorithmType !== '' && nodes.length === robots.length">
  <div class="col-6">
    <button mat-mini-fab class="simulation-operators" (click)="playSimulator()">
      <mat-icon svgIcon="play" matTooltip="{{ 'PLAY' | translate }}"></mat-icon>
    </button>
    <button mat-mini-fab class="simulation-operators" (click)="stopSimulator()">
      <mat-icon svgIcon="pause" matTooltip="{{ 'PAUSE' | translate }}"></mat-icon>
    </button>
    <button mat-mini-fab class="simulation-operators" (click)="stepSimulator()">
      <mat-icon svgIcon="next-step" matTooltip="{{ 'NEXT_STEP' | translate }}"></mat-icon>
    </button>
    <mat-icon svgIcon="speed" id="speed-icon" matTooltip="{{ 'SPEED' | translate }}"></mat-icon>
    <mat-slider color="primary"
                [max]="2000"
                [min]="200"
                [step]="50"
                [thumbLabel]="true"
                [(ngModel)]="speed"
                ></mat-slider>
    <span>{{ speed }} ms</span>
  </div>
  <div class="col-6 text-end">
    <span class="server-response-time">{{ 'simulationComponent_steps' | translate }}: {{ steps }}</span>
    <span class="server-response-time">{{ 'simulationComponent_serverResponseTime' | translate }}: {{ RTT }} ms</span>
    <button mat-mini-fab class="simulation-operators" (click)="save()" [disabled]="isSaveDisabled()">
      <mat-icon svgIcon="save" matTooltip="{{ 'simulationComponent_save' | translate }}"></mat-icon>
    </button>
  </div>
</div>
<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
<div id="map" class="shadow"></div>
<div class="row text-center mt-4" *ngIf="polygonCoordinates.length > 2">
  <div class="col-12">
    <button mat-raised-button [class.disabled]="this.loading" [disabled]="this.loading" (click)="createNetwork()">{{'openStreetMapComponent_createNetwork' | translate}}</button>
  </div>
</div>
<div class="row text-center mt-4 mb-4 align-items-center" *ngIf="nodes.length > robots.length">
  <div class="col-4">
    {{'settingsDialogComponent_robots' | translate}}: {{robots.length}} / {{nodes.length}}
  </div>
  <div class="col-4">
    <button mat-raised-button [class.disabled]="algorithmType !== ''" [disabled]="algorithmType !== ''" (click)="selectAlgorithmType()">{{'openStreetMapComponent_selectAlgorithmType' | translate}}</button>
  </div>
  <div class="col-4">
    <div *ngIf="selectedNodeID !== 0">
      <div class="row align-items-center">
        <div class="col-4">
          {{'openStreetMapComponent_nodeID' | translate}}: {{this.selectedNodeID}}
        </div>
        <div class="col-4">
          {{'simulationComponent_informationPanelRobots' | translate}}: {{getRobots()}}
        </div>
        <div class="col-4">
          <button mat-icon-button [disabled]="algorithmType === ''"><mat-icon svgIcon="add" (click)="addRobot()"></mat-icon></button> |
          <button mat-icon-button [disabled]="getRobots() === 0 || algorithmType === ''"><mat-icon svgIcon="remove" (click)="removeRobot()"></mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>