<h2 mat-dialog-title>{{ "simulator.settingsConfig.title" | translate }}</h2>
<mat-dialog-content>
  <div
    class="d-flex align-items-center justify-content-between"
    style="margin-bottom: 1rem"
  >
    <h4 style="margin: 0">
      {{ "simulator.settingsConfig.simulationDelay" | translate }}
    </h4>
    <div class="d-flex">
      <button mat-icon-button color="accent" (click)="increaseDelay()">
        <mat-icon>add</mat-icon>
      </button>
      <p class="m-0" style="line-height: 48px; width: 80px; text-align: center">
        {{ delay }} ms
      </p>
      <button mat-icon-button color="accent" (click)="decreaseDelay()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="d-flex align-items-center justify-content-between"
    style="margin-bottom: 1rem; height: 48px"
  >
    <h4 style="margin: 0">
      {{ "simulator.settingsConfig.saveResults" | translate }}
    </h4>
    <mat-slide-toggle
      [color]="'accent'"
      [checked]="saveResults"
      (change)="toggleSaveResults($event)"
    >
    </mat-slide-toggle>
  </div>
  <div
    class="d-flex align-items-center justify-content-between"
    style="margin-bottom: 1rem; height: 48px"
  >
    <h4 style="margin: 0">
      {{ "simulator.settingsConfig.showInformation" | translate }}
    </h4>
    <mat-slide-toggle
      [color]="'accent'"
      [checked]="showInformations"
      (change)="toggleShowInformations($event)"
    >
    </mat-slide-toggle>
  </div>
  <div
    class="d-flex align-items-center justify-content-between"
    style="margin-bottom: 1rem; height: 48px"
  >
    <h4 style="margin: 0">
      {{ "simulator.settingsConfig.simulateFaults" | translate }}
    </h4>
    <mat-slide-toggle
      [disabled]="data.faultsConfigured"
      [color]="'accent'"
      [checked]="simulateFaults"
      (change)="toggleSimulateFaults($event)"
    >
    </mat-slide-toggle>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="px-4 py-3" align="end">
  <button
    mat-button
    mat-dialog-close
    [ngStyle]="{ color: (darkMode$ | async) ? '#ffffff' : '#000000' }"
  >
    {{ "app.cancel" | translate }}
  </button>
</mat-dialog-actions>
