<mat-toolbar id="footer-container" color="primary">
  <div *ngIf="!(isSmallScreen$ | async)" class="row w-100 m-0">
    <div class="col-4 p-0 d-flex align-items-center">
      <span class="mat-caption">&copy; 2023 Dispersion Systems</span>
    </div>
    <div class="col-4 p-0 d-flex justify-content-center align-items-center">
      <a style="cursor: pointer; border-radius: 50%" [routerLink]="['/home']">
        <img
          class="app-logo"
          alt="logo"
          width="40px"
          height="40px"
          src="assets/images/logo.png"
        />
      </a>
    </div>
    <div class="col-4 p-0">
      <div class="row w-100 m-0">
        <div class="col-12 p-0 d-flex justify-content-end">
          <span class="mat-caption"
            >Current version:
            <a
              class="app-link"
              target="_blank"
              href="https://github.com/pukanszkypeter/fault-tolerant-dispersion"
              >0.0.0</a
            ></span
          >
        </div>
        <div class="col-12 p-0 d-flex justify-content-end">
          <span class="mat-caption"
            >Powered by
            <a
              class="app-link"
              target="_blank"
              href="https://github.com/pukanszkypeter"
              >@pukanszkypeter</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="isSmallScreen$ | async"
    class="row w-100"
    style="margin: 0.75rem 0"
  >
    <div class="col-12 text-center p-0">
      <a style="cursor: pointer; border-radius: 50%" [routerLink]="['/home']">
        <img
          class="app-logo"
          alt="logo"
          width="40px"
          height="40px"
          src="assets/images/logo.png"
        />
      </a>
    </div>
    <div class="col-12 text-center p-0">
      <span class="mat-caption">&copy; 2023 Dispersion Systems</span>
    </div>
    <div class="col-12 text-center p-0">
      <span class="mat-caption"
        >Current version:
        <a
          class="app-link"
          target="_blank"
          href="https://github.com/pukanszkypeter/fault-tolerant-dispersion"
          >0.0.0</a
        ></span
      >
    </div>
    <div class="col-12 text-center p-0">
      <span class="mat-caption"
        >Powered by
        <a
          class="app-link"
          target="_blank"
          href="https://github.com/pukanszkypeter"
          >@pukanszkypeter</a
        ></span
      >
    </div>
  </div>
</mat-toolbar>
