<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div *ngFor="let toast of toastService.toasts" id="{{toast.uuid}}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <i class="bi bi-bell-fill pe-2"></i>
        <strong class="me-auto">{{toast.headerKey | translate}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{toast.bodyKey | translate}}
      </div>
    </div>
</div>