<div class="px-4 py-5 my-3 text-center">
  <img class="d-block mx-auto mb-3" src="assets/images/icon.png" id="icon" alt="icon" width="100" height="100">
  <h1 class="display-5 fw-bold">Dispersion Systems</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">{{"pages.home.hero" | translate}}</p>
  </div>
</div>

<div class="container py-5">
  <h2 class="pb-2 border-bottom">{{"pages.home.features" | translate}}</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3 class="fw-bold">{{"pages.home.simulatorTitle" | translate}}</h3>
      <p class="text-muted">{{"pages.home.simulatorDescription" | translate}}</p>
      <a [routerLink]="['/simulator']" class="btn btn-outline-primary btn-lg d-flex align-items-center">
        <span style="padding-bottom: 2.5px;">{{ "layout.nav.simulator" | translate }}</span>
        <i class="bi bi-arrow-right ms-1"></i>
      </a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <a [routerLink]="['/tester']" style="width: fit-content;">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: fit-content;">
              <i class="bi bi-speedometer" style="padding: 6px 12px 6px 12px;"></i>
            </div>
          </a>
          <h4 class="fw-semibold mb-0">{{ "layout.nav.tester" | translate }}</h4>
          <p class="text-muted">{{ "pages.home.testerDescription" | translate }}</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <a [routerLink]="['/results']" style="width: fit-content;">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: fit-content;">
              <i class="bi bi-bar-chart-fill" style="padding: 6px 12px 6px 12px;"></i>
            </div>
          </a>
          <h4 class="fw-semibold mb-0">{{ "layout.nav.results" | translate }}</h4>
          <p class="text-muted">{{ "pages.home.resultsDescription" | translate }}</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <a [routerLink]="['/open-street-map']" style="width: fit-content;">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: fit-content;">
              <i class="bi bi-geo-fill" style="padding: 6px 12px 6px 12px;"></i>
            </div>
          </a>
          <h4 class="fw-semibold mb-0">Open Street Map</h4>
          <p class="text-muted">{{ "pages.home.mapDescription" | translate }} <a href="https://www.openstreetmap.org/" target="_blank">Open Street Map</a>.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <a [routerLink]="['/changelog']" style="width: fit-content;">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: fit-content;">
              <i class="bi bi-tools" style="padding: 6px 12px 6px 12px;"></i>
            </div>
          </a>
          <h4 class="fw-semibold mb-0">{{ "layout.nav.changelog" | translate }}</h4>
          <p class="text-muted">{{ "pages.home.changelogDescription" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>