<div class="bg-body">
  <header data-bs-theme="dark" class="p-3 sticky-top bg-gradient" [ngClass]="{'shadow-lg': colorMode !== 'dark', 'shadow-sm': colorMode === 'dark'}" style="background: #4E32A8;">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="d-flex align-items-center mb-2 mb-lg-0 pe-2" [routerLink]="['/home']">
          <img id="icon" alt="icon" src="assets/images/icon.png" height="40px" width="40px" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a [routerLink]="['/home']" class="custom-link nav-link">{{ "layout.nav.home" | translate }}</a></li>
          <li><a [routerLink]="['/simulator']" class="custom-link nav-link">{{ "layout.nav.simulator" | translate }}</a></li>
          <li><a [routerLink]="['/tester']" class="custom-link nav-link">{{ "layout.nav.tester" | translate }}</a></li>
          <li><a [routerLink]="['/results']" class="custom-link nav-link">{{ "layout.nav.results" | translate }}</a></li>
          <li><a [routerLink]="['/open-street-map']" class="custom-link nav-link">Open Street Map</a></li>
          <li><a [routerLink]="['/changelog']" class="custom-link nav-link">{{ "layout.nav.changelog" | translate }}</a></li>
        </ul>

        <div class="text-end pe-3">
          <a href="https://github.com/pukanszkypeter/fault-tolerant-dispersion/tree/master" target="_blank">
            <i class="bi bi-github custom-icon"></i>
          </a>
        </div>

        <div class="dropdown pe-3">
          <i id="language-icon" class="bi bi-translate dropdown-toggle custom-icon" data-bs-toggle="dropdown"></i>
          <ul id="language-dropdown" class="dropdown-menu">
            <li *ngFor="let language of languages">
              <a class="dropdown-item" (click)="changeLanguage(language)">{{language | translate}}</a>
            </li>
          </ul>
        </div>

        <div class="text-end">
          <i *ngIf="colorMode === 'dark'" (click)="toggleColorMode()" class="bi bi-brightness-high-fill custom-icon"></i>
          <i *ngIf="colorMode !== 'dark'" (click)="toggleColorMode()" class="bi bi-moon-fill custom-icon"></i>
        </div>

      </div>
  </header>

  <div class="container-fluid">
    <main>
      <ng-content></ng-content>
    </main>
  
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2023 Dispersion Systems, Inc.</p>
    
        <a [routerLink]="['/home']" class="col-md-4 d-flex align-items-center justify-content-center mb-md-0 me-md-auto">
          <img id="icon" alt="icon" src="assets/images/icon.png" height="35px" width="35px" />
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a [routerLink]="['/home']" class="nav-link px-2 text-muted footer-link">{{ "layout.nav.home" | translate }}</a></li>
          <li class="nav-item"><a [routerLink]="['/simulator']" class="nav-link px-2 text-muted footer-link">{{ "layout.nav.simulator" | translate }}</a></li>
          <li class="nav-item"><a [routerLink]="['/tester']" class="nav-link px-2 text-muted footer-link">{{ "layout.nav.tester" | translate }}</a></li>
          <li class="nav-item"><a [routerLink]="['/results']" class="nav-link px-2 text-muted footer-link">{{ "layout.nav.results" | translate }}</a></li>
          <li class="nav-item"><a [routerLink]="['/changelog']" class="nav-link px-2 text-muted footer-link">{{ "layout.nav.changelog" | translate }}</a></li>
        </ul>
      </footer>
    </div>
  </div>
</div>