img#icon {
  transition: transform 0.5s ease-in-out;
}

img#icon:hover {
  transform: rotate(360deg);
}

.bg-gradient {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)) !important;
}

.custom-link {
  color: white;
  opacity: 85%;
  margin: 3px 7px 3px 7px;
  padding: 5px 9px 5px 9px;
}

.custom-link:hover {
  opacity: 100%;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 4px 8px 4px 8px;
}

.active-link {
  opacity: 100%;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 4px 8px 4px 8px;
}

.custom-icon {
  font-size: 20px;
  color: white;
  opacity: 85%;
}

.custom-icon:hover {
  opacity: 100%;
}

i#language-icon::before {
  margin-right: 3px;
}

.footer-link:hover {
  text-decoration: underline;
}