.navbar-logo {
  color: rgba(255,255,255,0.90);
  font-weight: 600;
}

.nav-link {
  color: rgba(255,255,255,0.90);
}

.nav-link:hover {
  font-weight: 600;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}

.navbar-toggler:focus {
  text-decoration: 0;
  box-shadow: unset;
}

.navbar-toggler svg {
  vertical-align: 0;
}

#settings-button:hover {
  animation: rotateIn;
  animation-duration: 1s;
}

#github-icon {
  color: white;
}