<mat-card class="animate__animated animate__fadeInDown visualization-title">{{ 'visualizationComponent_title' | translate }}</mat-card>
<!-- Summary Chart -->
<div class="row mt-4 mb-4">
  <div class="col-12">
    <h4 class="mb-4">{{ 'visualizationComponent_averageStepsChart' | translate }}</h4>
    <mat-progress-bar mode="query" *ngIf="SUMMARY_LOADING"></mat-progress-bar>
    <mat-card>
      <br>
      <div class="row align-items-center">
        <div class="col-10">
          <mat-form-field appearance="outline" class="visualization-select">
            <mat-label>{{ 'visualizationComponent_summaryByCaption' | translate }}</mat-label>
            <mat-select [formControl]="summaryBy" (selectionChange)="switchView($event)">
              <mat-option *ngFor="let option of summaryOptions" [value]="option">
                {{ 'visualizationComponent_' + option | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="summaryBy.hasError('required')">{{ 'visualizationComponent_summaryByRequired' | translate }}</mat-error>
          </mat-form-field>
          <label class="visualization-radio">{{'visualizationComponent_xAxis' | translate}}:</label>
          <mat-radio-group color="primary" [formControl]="xAxis" (change)="switchView($event)">
            <mat-radio-button class="visualization-radio" value="algorithm">{{'settingsDialogComponent_algorithmType' | translate}}</mat-radio-button>
            <mat-radio-button class="visualization-radio" value="graph">{{'settingsDialogComponent_graphType' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-2 text-center">
          <button mat-raised-button color="primary" (click)="summarize()" [disabled]="!summaryBy.valid || !groupBy.valid">
            {{ 'visualizationComponent_query' | translate }} <i class="bi bi-download"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <ngx-charts-bar-vertical-2d *ngIf="summary.length > 0"
                                    [view]="[1200,600]"
                                    [results]="summary"
                                    [gradient]="false"
                                    [xAxis]="true"
                                    [yAxis]="true"
                                    [legend]="true"
                                    [showXAxisLabel]="true"
                                    [showYAxisLabel]="true"
                                    [xAxisLabel]="(this.xAxis.value === 'graph' ? 'settingsDialogComponent_graphType' : 'settingsDialogComponent_algorithmType') | translate"
                                    [yAxisLabel]="'visualizationComponent_' + this.summaryBy.value | translate">
            </ngx-charts-bar-vertical-2d>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<!-- Group by Chart -->
<div class="row mt-4 mb-4">
  <div class="col-12">
    <h4 class="mb-4">{{ 'visualizationComponent_groupByChart' | translate }}</h4>
    <mat-progress-bar mode="query" *ngIf="LOADING"></mat-progress-bar>
    <mat-card>
      <br>
      <div class="row align-items-center">
        <div class="col-10">
          <mat-form-field appearance="outline" class="visualization-select">
            <mat-label>{{ 'settingsDialogComponent_graphType' | translate }}</mat-label>
            <mat-select [formControl]="graphType">
              <mat-option *ngFor="let graphType of graphTypes" [value]="graphType.value">
                {{ graphType.value | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="graphType.hasError('required')">{{ 'settingsDialogComponent_graphTypeRequired' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="visualization-select">
            <mat-label>{{ 'settingsDialogComponent_algorithmType' | translate }}</mat-label>
            <mat-select [formControl]="algorithmType">
              <mat-option *ngFor="let algorithmType of algorithmTypes" [value]="algorithmType.value">
                {{ algorithmType.value | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="algorithmType.hasError('required')">{{ 'settingsDialogComponent_algorithmTypeRequired' | translate }}</mat-error>
          </mat-form-field>
          <span class="visualization-radio">Group By:</span>
          <mat-radio-group [formControl]="groupBy" color="primary">
            <mat-radio-button value="nodes" class="visualization-radio">{{ 'simulationComponent_informationPanelNodes' | translate }}</mat-radio-button>
            <mat-radio-button value="robots" class="visualization-radio">{{ 'simulationComponent_informationPanelRobots' | translate }}</mat-radio-button>
            <mat-radio-button value="components" class="visualization-radio">{{ 'settingsDialogComponent_colors' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-2 text-center">
          <button mat-raised-button color="primary" (click)="query()" [disabled]="!graphType.valid || !algorithmType.valid || !groupBy.valid">
            {{ 'visualizationComponent_query' | translate }} <i class="bi bi-download"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <div *ngIf="NO_TEST_FOUND" class="alert alert-warning w-75 text-center animate__animated animate__fadeInUp mt-3" role="alert">
              {{ 'visualizationComponent_noTestFound' | translate }}
            </div>
            <ngx-charts-line-chart *ngIf="result.length > 0"
                                    [view]="[1000,500]"
                                    [results]="result"
                                    [gradient]="false"
                                    [xAxis]="true"
                                    [yAxis]="true"
                                    [legend]="false"
                                    [showXAxisLabel]="true"
                                    [showYAxisLabel]="true"
                                    [xAxisLabel]="(groupBy.value === 'robots' ? 'settingsDialogComponent_robots' : groupBy.value === 'nodes' ? 'settingsDialogComponent_nodes' : 'visualizationComponent_graphComponents') | translate"
                                    [yAxisLabel]="'visualizationComponent_averageSteps' | translate">
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<!-- Detail By Chart -->
<div class="row mt-4 mb-4">
  <div class="col-12">
    <h4 class="mb-4">{{ 'visualizationComponent_detailByChart' | translate }}</h4>
    <mat-progress-bar mode="query" *ngIf="DETAIL_LOADING"></mat-progress-bar>
    <mat-card>
      <br>
      <div class="row align-items-center">
        <div class="col-10">
          <mat-form-field appearance="outline" class="visualization-select">
            <mat-label>{{ 'visualizationComponent_detailByCaption' | translate }}</mat-label>
            <mat-select [formControl]="detailBy" (selectionChange)="detailByQueryChange()">
              <mat-option *ngFor="let option of summaryOptions" [value]="option">
                {{ 'visualizationComponent_' + option | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="summaryBy.hasError('required')">{{ 'visualizationComponent_summaryByRequired' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="visualization-select">
            <mat-label>{{ 'settingsDialogComponent_graphType' | translate }}</mat-label>
            <mat-select [formControl]="graphTypeDetail">
              <mat-option *ngFor="let graphType of graphTypes" [value]="graphType.value">
                {{ graphType.value | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="graphTypeDetail.hasError('required')">{{ 'settingsDialogComponent_graphTypeRequired' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="visualization-select">
            <mat-label>{{ 'settingsDialogComponent_algorithmType' | translate }}</mat-label>
            <mat-select [formControl]="algorithmTypeDetail">
              <mat-option *ngFor="let algorithmType of algorithmTypes" [value]="algorithmType.value">
                {{ algorithmType.value | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="algorithmTypeDetail.hasError('required')">{{ 'settingsDialogComponent_algorithmTypeRequired' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-2 text-center">
          <button mat-raised-button color="primary" (click)="detailByQuery()" [disabled]="!graphTypeDetail.valid || !algorithmTypeDetail.valid || !detailBy.valid">
            {{ 'visualizationComponent_query' | translate }} <i class="bi bi-download"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <div *ngIf="NO_DETAIL_FOUND" class="alert alert-warning w-75 text-center animate__animated animate__fadeInUp mt-3" role="alert">
              {{ 'visualizationComponent_noTestFound' | translate }}
            </div>
            <table mat-table [dataSource]="detail" class="mat-elevation-z8 detail-table" *ngIf="detail.length > 0">

              <ng-container matColumnDef="custom">
                <th mat-header-cell *matHeaderCellDef> {{ 'visualizationComponent_' + this.detailBy.value | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.custom}} </td>
              </ng-container>

              <ng-container matColumnDef="nodes">
                <th mat-header-cell *matHeaderCellDef> {{ 'settingsDialogComponent_nodes' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.nodes}} </td>
              </ng-container>

              <ng-container matColumnDef="robots">
                <th mat-header-cell *matHeaderCellDef> {{ 'settingsDialogComponent_robots' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.robots}} </td>
              </ng-container>

              <ng-container matColumnDef="components">
                <th mat-header-cell *matHeaderCellDef> {{ 'visualizationComponent_graphComponents' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.components}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="detailColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: detailColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>