<div class="container-fluid">
  <h1 class="animate__animated animate__backInLeft text-center mt-4">Static Playground</h1>
  <div class="row mt-4">
    <div class="col-6">
      <h1 class="d-inline-block ps-3"><i matRipple [matRippleCentered]="true" [matRippleRadius]="25" matTooltip="Play" class="bi bi-play-fill"></i></h1>
      <h1 class="d-inline-block ps-3"><i matRipple [matRippleCentered]="true" [matRippleRadius]="25" matTooltip="Pause" class="bi bi-pause-fill"></i></h1>
    </div>
    <div class="col-4">
      <h1 class="text-end pe-3"><i matTooltip="Settings" class="bi bi-gear-fill" (click)="openSettingsDialog()"></i></h1>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-10">
      <div id="vis-container"></div>
    </div>
    <div class="col-2">Info Panel</div>
  </div>
</div>
